.contact i {
    vertical-align: middle;
    padding-right: 1rem;
}

.colour {
    color: #d67b04;
}

i {
    padding-right: 1rem;
}

u {
    -webkit-text-decoration-color: #d67b04;
    text-decoration-color: #d67b04;
    text-decoration-thickness: 0.1rem;
}

article h4, h5 {
    margin-bottom: 0.5rem;
}

#title {
    display: none;
}

blockquote kbd {
    margin-right: 0.5rem;
}

blockquote kbd:last-child {
    padding: 3px 6px;
}

@font-face {
    font-family: 'Twemoji Country Flags';
    unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
    src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2') format('woff2');
  }

.flag {
    font-family: 'Twemoji Country Flags';
}