.contact i {
    vertical-align: middle;
    padding-right: 1rem;
}

.colour {
    color: #d67b04;
}

i {
    padding-right: 1rem;
}

u {
    -webkit-text-decoration-color: #d67b04;
    text-decoration-color: #d67b04;
    text-decoration-thickness: 0.1rem;
}

article h4, h5 {
    margin-bottom: 0.5rem;
}

#title {
    display: none;
}

blockquote kbd {
    margin-right: 0.5rem;
}

blockquote kbd:last-child {
    padding: 3px 6px;
}
